<nav class="navbar navbar-expand-md bg-dark sticky-top border-bottom" data-bs-theme="dark">
    <div class="container">
      <a class="navbar-brand " href="#">
        Mi primera cita
      </a>
     
      <div class="offcanvas offcanvas-end" tabindex="-1" id="#offcanvas" aria-labelledby="#offcanvasLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="#offcanvasLabel">Aperture</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav flex-grow-1 justify-content-between">
            <li class="nav-item"><a class="nav-link" href="#">Parejas</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Listas</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Mensajes</a></li>
           
            <li class="nav-item"><a class="nav-link" href="#">
              <svg class="bi" width="24" height="24"><use xlink:href="#cart"></use></svg>
            </a></li>
          </ul>
          <form #loginForm="ngForm" class="d-flex" (ngSubmit) = "login()" autocomplete="off">
            <input name="userName" [(ngModel)]="model.userName" class="form-control me-2" type="text" placeholder="userName" >
            <input name="password" [(ngModel)]="model.password" class="form-control me-2" type="password" placeholder="password" >
            <button class="btn btn-outline-sucess" type="submit">Ingresar</button>

          </form>
        </div>
      </div>
    </div>
  </nav>